{% extends "layout.html" %}

{% block content %}
	<h1>{{ username }}'s Profile!</h1>

	<h2>{{ username }}'s Content</h2>

	<div class="tiles-grid">
		{% for post in postlist %}

			<div data-role="tile" 
				 data-size="medium" 
				 data-cover="../uploads/{{post.filename}}"
				 onclick="window.location.href = '{{ url_for('post', id=post.image_id) }}';">
		    	<span class="branding-bar">{{ post.uploader }}</span>
			</div>
		{% endfor %}
	</div>

	<form method="POST" enctype="multipart/form-data">
		<input type="checkbox" name="follow" value="followed"> Follow
		<br>
        <input type="submit"/>
    </form>

{% endblock content %}