{% extends "layout.html" %}

{% block content %}
    <h1>Upload New File</h1>
    <form method="POST" enctype="multipart/form-data">

        Tags: <input type="text" name="tags" placeholder="hashtags"/>
        <br/><br/>
        Status: <input type="text" name="status" size=100 placeholder="Status: e.g. Just ate some delicious pasta!"/>
        <br/><br/>
        <input type="file" name="file"/>
        <br/><br/>
        <input type="submit"/>
    </form>
{% endblock content %}

<!--
<!doctype html>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
-->